<div class = "row row-centered gray_bg margin_top">
  <h1>Our Partners</h1>
  <div class = "line"> </div>
</div>

<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('logo_orange.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Engineers Without Borders U of T Chapter

</h2>
      <p>EWB U of T strives to address social injustices where there are difficult constraints, diverse stakeholders, and no clear solutions. EWB UofT does this through offer a year long curriculum to our members to give them fundamental knowledge of global development. We then support them in applying this knowledge through ownership of socially impactful projects in Canada or overseas. EWB operates at U of T to grow leaders that will have positive impact on failing social systems across the world.
  		 </p>
  	</div>
</div>

<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('EWH logo.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Engineering World Health

</h2>
      <p>Engineering World Health (EWH) is a non-profit non-governmental organization (NGO) established in 2008, aiming to mobilize the biomedical engineering community to improve the quality of health care in hospitals in resource-poor communities. The University of Toronto chapter of EWH (EWH–UofT) is a student-led organization that was established in August 2014. EWH aims to motivate and mobilize the student community to improve health care in low- and middle-income countries. To implement their mission, they focus their efforts on three areas: Engineering, Innovation, and Education.
  		 </p>
  	</div>
</div>



<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('engi.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Center for Global Engineering

</h2>
      <p>The Center for Global Engineering (CGEN) is a cross-disciplinary research center with over 30 collaborating faculty members from across the University of Toronto.  CGEN was created to enable faculty and students to develop transformative, creative solutions to address some of the world’s most important problems. Focusing on the pillars of (1) food and nutrition, (2) water and sanitation, (3) health, and (4) shelter, CGEN’s scope spans across Engineering disciplines. The Centre has forged partnerships across the University of Toronto, as well as other academic institutions and non-profit organizations around the world.
Since its inception in 2009, CGEN has led several high impact projects around the world, including:

</p>
<ul>
 <li> Engineering iron-fortified salts and tea to help fight malnutrition; </li>
 <li>Developing a solar powered, stand-alone water desalination system that can help alleviate potable water scarcity challenges in low resource settings;</li>
<li>Optimizing a more efficient system for dispatching ambulances in Dhaka, Bangladesh;</li>
<li>Developing an off-grid sanitation process and toilet prototype that has been supported by the Bill and Melinda Gates Foundation’s Reinvent the Toilet Challenge for the past 5 years.</li>
</ul>
  	</div>
</div>
