<div class = "row row-centered gray_bg margin_top">
  <h1>Our Team</h1>
  <div class = "line"> </div>
</div>
<div class = "row row-centered">
  <div class = "col-centered col-md-7 col-sm-10 col-xs-10">
  <p>Global Engineering Week was put together by a group of students passionate about global engineering and engineering’s role in developing sustainable solutions to pressing social and global problems. </p>
  </div>
</div>


<div class = "row row-centered  gray_bg">
  
  
  <div class = "col-centered col-md-2 col-sm-10 col-xs-10 team_each">
    <div class="team_image_wrapper">
      <%= image_tag('amos_winter.png')%>
    </div>
  </div> 
   <div class = "col-centered col-md-5 col-sm-10 col-xs-10 team_each">
      <h2>Katherine Bancroft</h2>
      <p>Katherine is a second year undergraduate Electrical and Computer Engineering student at UofT and the Lead of EWB UofT’s Global Engineering Portfolio. She strongly believes in the role of the engineering to create lasting change. Through her involvement with EWB she’s focused on getting students to engage with local and global problems. 
  		 </p>
  	</div>
</div>

<div class = "row row-centered  gray_bg">
  
  
  <div class = "col-centered col-md-2 col-sm-10 col-xs-10 team_each">
    <div class="team_image_wrapper">
      <%= image_tag('amos_winter.png')%>
    </div>
  </div> 
   <div class = "col-centered col-md-5 col-sm-10 col-xs-10 team_each">
      <h2>Katherine Bancroft</h2>
      <p>Katherine is a second year undergraduate Electrical and Computer Engineering student at UofT and the Lead of EWB UofT’s Global Engineering Portfolio. She strongly believes in the role of the engineering to create lasting change. Through her involvement with EWB she’s focused on getting students to engage with local and global problems. 
  		 </p>
  	</div>
</div>
