<div class = "row row-centered gray_bg margin_top">
  <h1 >Our Team</h1>
  <div class = "line"> </div>
</div>
<div class = "row row-centered gray_bg">
  <div class = "col-centered col-md-7 col-sm-10 col-xs-10">
  <p style="font-size: 15px; text-align:center; color: black">Global Engineering Week was put together by a group of students passionate about global engineering and engineering’s role in developing sustainable solutions to pressing social and global problems. </p>
  </div>
</div>



<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('amos_winter.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Malik Ismail <i>Founder</i></h2>
      <p>Malik is a fourth year Engineering Science student at the University of Toronto and is the founder of the Global Engineering Week. After three years as Vice President of Engineers Without Borders and working with faculty to introduce real-life global poverty case studies in their courses, he realized that curriculum-based discussions were only one part of the equation to disseminate the requisite knowledge and skillsets needed to help students become global engineers. This understanding led him to found the Global Engineering Week, which he believes is a will not only inspire students to expand their horizons and look beyond traditional engineering roles, but provide them will the skills needed to tackle the most complex global challenges.
  		 </p>
  	</div>
</div>

<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('amos_winter.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Malik Ismail <i>Founder</i></h2>
      <p>Malik is a fourth year Engineering Science student at the University of Toronto and is the founder of the Global Engineering Week. After three years as Vice President of Engineers Without Borders and working with faculty to introduce real-life global poverty case studies in their courses, he realized that curriculum-based discussions were only one part of the equation to disseminate the requisite knowledge and skillsets needed to help students become global engineers. This understanding led him to found the Global Engineering Week, which he believes is a will not only inspire students to expand their horizons and look beyond traditional engineering roles, but provide them will the skills needed to tackle the most complex global challenges.
  		 </p>
  	</div>
</div>
