@import "bootstrap-sprockets";
@import "bootstrap";

// @font-face{
// 	font-family: 'open_sansregular';
//     src: url('../font/opensans-webfont.woff') format('woff');
// }

// @font-face{
// 	font-family: 'segoepr';
//     src: url('../font/SegoePrint.woff') format('woff');
// }



@font-face {
    font-family: 'open_sansregular';
    
    src: asset-url('opensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{

	font-family: 'open_sansregular';
}

.homepg_txt{
  margin-top:300px;
  text-shadow: 3px 3px 10px black;
  font-family: 'open_sansregular';
  
}

.homepg_txt p:nth-child(1){
  font-size: 30px;
  color:white;
  
}
.homepg_txt p:nth-child(2){
  font-size: 50px;
  color:#e6a65f;
  
}

.center{
  
  margin: 0px auto;
}
.left_align{
  text-align:left;
  
}
.alignment_change{
  text-align:left;
  
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.gray_bg{
  
  background:#eeeeee;
}
.white_bg{
  
  background:#ffffff;
}

.or_bg{
  background-color: #e6a65f
  
}

.blue_bg{
  background:rgba(27,150,181,0.3);
  
}

.height_banner{
  height: 500px;
  
}

.banner_image_wraper{
  width:300px;
  margin-top:150px
  
}
.banner_image_wraper img{
  width:100%;
  height:auto;
  
}

.banner_margin_bot{
  padding-bottom: 30px;
  
}

#nav {
  height: 70px;
  line-height: 70px;
  font-size:16px;
  margin-right: 20px;  
}

#nav_item {
  height: 70px;
  line-height: 90px;
  
}

/*nav bar*/

.navbar-brand-cus {
    float: left;
    padding: 2px 2px;
    font-size: 18px;
    line-height: 20px;
    height: 80px;
}
.navbar-brand-cus img{
  height:100%;
  width: auto;
  
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
.shadow{
  box-shadow: 0 1px 8px #666666
  
}

@media (max-width: 767px) {
    .navbar-fixed-top {
    min-height: 50px;
    }
     .navbar-brand-cus{
         height: 50px;
     }
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .alignment_change{
      text-align:center;
    }
  
}

/*front page*********************************************************/
.hm_bg{
  	background-image: image-url("ge_week2.png") ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}
.rel_position{
  position: relative;
  
  
}

.abs_position{
  position: absolute;
}

.zlow{
  z-index: 100;
}

.zhigh{
  
  z-index: 1000;
}

.title_frontpg {
  top: 50px;
  left: 50px;
  color:white;
}

.pic_indent{
  margin-top:50px;
  
}
/*goal 1*/
.goal_bg{
  	background-image: image-url("goal.png") ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.img_width_wrapper_full{
  width:100%;
  
}
.img_width_wrapper_full img{
  width:100%;
  height:auto;
  
  
}

/*goal****************************************************************/

.goal_font{
  text-align:center;
  font-size:14px;
  color:black;
}
.goal{
  padding-top:30px;
  padding-bottom:30px;
 
  color:gray
 
  
}
.goal_image_wrapper{
  width:40px;
  height:40px;
}
.goal_image_wrapper img{
  width: 100%;
  height:auto;
  
}

/*speaker series*/
.speaker{
	
	
	text-align: center;
	
	
}

.line{
	height:2px;
	width:100px;
	margin:0px auto 30px;
	background:#e6a65f
}
.line_white{
	height:2px;
	width:100px;
	margin:0px auto 30px;
	background:white
}

.speaker img{
	width:60%;
	height:auto;
	
}
/*footer*********************/

.footer{
  height:100px;
  
  
}
.image-wraper{
  width: 100px;
  height:100px;
  padding-top: 15px;
  //line-height: 80px;
  
}
.image-wraper img{
  width:100%;
  height: auto;
}

/*team******/
.team_image_wrapper{
 padding-top:30px; 
  width:150px;
 
}
.team_image_wrapper img{
  width:100%;
  height: auto;
  
}
.margin_top{
  padding-top:100px;
  
}

.team_each{
  padding-bottom: 50px;
  
}

/*calendar************************************************************************/


header {
    text-align: center;
}

#calendar {
    width: 100%;    
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.36%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #e6a65f;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
    
}

#calendar .days li {
    height: 100px;
    background: #ffffff;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}
#calendar .weekdays_mobile, #calendar .event_mobile {
        display: none;
    }
    
 #calendar .period{
        display: block;
    }

/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {
  
  .hm_bg{
    	background-image: image-url("hm_phone.png") ;
    	height:500px;
    
  }
  
  .homepg_txt{
  margin-top:100px;
  
}

.homepg_txt p:nth-child(1){
  font-size: 18px;
  
}
.homepg_txt p:nth-child(2){
  font-size: 30px;
 
}

.goal_bg{
  height:750px;
  
}

    #calendar .weekdays, #calendar .other-month, #calendar .period,  #calendar .days{
        display: none;
    }
    
    #calendar .weekdays_mobile{
        display: block;
        background: #e6a65f;
    }
    #calendar .event_mobile{
        display: block;
      
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

   
}


.team_title{
  color: #e6a65f;
  
}

.speaker-height{
  height:500px;
  
}

.speaker_img{
  margin: 0 auto;
  width:150px;
  height:220px;
  
  
}
.speaker_img img{
  width:100%;
  height:auto;
  
}